table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: pink;
    text-align: center;
}

h2 {
    color: pink;
    text-align: center;
}

headPage {
    text-align: left;
}