table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: pink;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#subheading{
    color: pink;
    text-align: center;
    margin-left: auto;
    margin-right: auto;


#headPage {
    text-align: left;
}